<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641574115187-frlj1tsf11ps48damsc3dhu98h7nj7lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641574115187-frlj1tsf11ps48damsc3dhu98h7nj7lt</string>
	<key>API_KEY</key>
	<string>AIzaSyCl1nAVeak8a-zsP5njH4zauKegI5rDCxU</string>
	<key>GCM_SENDER_ID</key>
	<string>641574115187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craiovadata.ios.Collections</string>
	<key>PROJECT_ID</key>
	<string>collections-fdfa3</string>
	<key>STORAGE_BUCKET</key>
	<string>collections-fdfa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641574115187:ios:eaf090dfa1ec1fe449d706</string>
	<key>DATABASE_URL</key>
	<string>https://collections-fdfa3.firebaseio.com</string>
</dict>
</plist>